<style type="text/css">
  table th.name{
    width: 300px;
  }
  table td.name{
    vertical-align: top;
  }
</style>

<div id="topics"></div>

<%= link_to "New Topic (from ERB) Template", new_topic_path, id: "new-topic-from-erb", style: "display: none;" %>
<%= link_to "Edit Topic (from ERB) Template", edit_topic_path("__xxx__"), id: "edit-topic-from-erb", style: "display: none;" %>

<script type="text/javascript">
  $(function() {
    // TimeSheet is the app name
    window.router = new TimeSheet.Routers.TopicsRouter({topics: <%= @topics.to_json.html_safe -%>});
    Backbone.history.start();

    $(document).keyup(function(e){
      if($("#topics-table").length > 0){
        switch(e.keyCode){
          // case 69:
          //   console.log("load edit form")
          //   window.router.newTopic()
          //   break;
          case 78:
            window.router.navigate("/new", {trigger: true});
            break;
          default:
        }
      }

      if($(".topic-details").length > 0){
        switch(e.keyCode){
          // case 69:
          //   console.log("load edit form")
          //   window.router.newTopic()
          //   break;
          case 66:
            window.router.navigate("/index", {trigger: true});
            break;
          default:
        }
      }

      //console.log(e.type, e.keyCode)
    })
  });
</script>
