<h1>Edit topic</h1>

<form id="edit-topic" name="topic">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <textarea rows="20" name="description" id="description" cols="40" style="width: 411px; height: 159px;"></textarea>
  </div>

  <div class="actions">
    <input type="submit" value="Update Topic" />
  </div>

</form>

<a href="#/index">Back</a>
