<h1>Listing topics</h1>

<table id="topics-table">
  <tr>
    <th class="name">Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Topic</a>
