<div class="well well-outline">
  <div class="page-header">
  <h1>Listing time sheet entries <small></small></h1>
  </div>

  <table id="time_sheet_entries-table" class="table table-striped">
    <tr>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Starts at</th>
      <th>User</th>
      <th>Summary</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </table>

  <br/>

  <a href="#/tse/new" class="btn btn-primary">New Time sheet entry</a>

</div>
