<style type="text/css">
  table th.name{
    width: 300px;
  }
  table td.name{
    vertical-align: top;
  }
</style>

<div id="time_sheet_entries"></div>

<script type="text/javascript">
  $(function() {
    // TimeSheet is the app name
    window.time_sheet_router = new TimeSheet.Routers.TimeSheetEntriesRouter({time_sheet_entries: <%= @time_sheet_entries.to_json.html_safe -%>,
      new_url: "<%= new_time_sheet_entry_path %>", 
      edit_url: "<%= edit_time_sheet_entry_path("__xxx__") %>", 
    });
    window.time_sheet_router.navigate("/tse/index", {trigger: true});
    Backbone.history.start();

    $(document).keyup(function(e){
      if($("#time_sheet_entries-table").length > 0){
        switch(e.keyCode){
          case 78: /* 'n' */
            window.time_sheet_router.navigate("/tse/new", {trigger: true});
            break;
          default:
        }
      }

      if($(".time-sheet-entry-details").length > 0){
        switch(e.keyCode){
          case 66: /* 'b' */
            window.time_sheet_router.navigate("/tse/index", {trigger: true});
            break;
          default:
        }
      }

      //console.log(e.type, e.keyCode)
    })
  });
</script>

